.header{
  height: 57px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  padding-right: 150px;
  padding-left: 200px;
  background-color: white;
}


.amazon-logo{
  height: 30px;
}

.middle-section{
  font-size: 25px;
}

.header-item{
  color: rgb(0, 113, 133);
}

.main{
  margin-top: 150px;
  margin-left: 200px;
  margin-right: 400px;
}

.cartItem-container{
  height: 300px;
  border: 1px solid rgb(169, 168, 168);
  border-radius: 5px;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 20px;
}

.delivery-date{
  font-size: 20px;
  margin-bottom: 20px;
  color: rgb(0,118,0);
  font-weight: bold;
}

.cartItem-grid{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  
}

.product-image{
  width: 150px;
  max-height: 150px;
  object-fit: contain;
}

.cartItem-name{
  font-weight: bold;
  margin-bottom: 10px;
}

.cartItem-price{
  color: rgb(177,39,4);
  font-weight: bold;
  margin-bottom: 5px;
}
.update-quantity-link{
  color: rgb(0, 113, 133);
}

.quantity-input{
  width: 30px;
}

.save-quantity-link{
  color: rgb(1, 113, 133);
}

.delete-quantity-link{
  color: rgb(0, 113, 133);
}

.delivery-options{
  width : 230px;
}

.delivery-details{
  display: inline-block;
  margin: 10px;
}

.delivery-option-input{
  display: inline-block;
}

.delivery-option-title{
  font-weight: bold;
}

.delivery-option-date{
  display: block;
  color: rgb(0,118,0);
}

.delivery-option-price{
  display: block;
}



.checkout{
  display: grid;
  grid-template-columns: 700px 350px;
  gap: 20px;
}


.js-order-summary{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  border: 1px solid rgb(169, 168, 168);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-heading{
  font-size: 20px;
  font-weight: bold;
}

.items-text, .shipping-charges-text, .total-B-tax-text, .E-tax-text, .order-total-text{
  width: 220px;
  display: inline-block;
}

.TBT-value, .items-value, .SC-value, .ET-value, .OT-value{

  display: inline;
}

.TBT-value{
  border-top: 1px solid rgb(191, 189, 189);
}

.order-total{
  border-top: 1px solid rgb(191, 189, 189);
  color: rgb(177,39,4);
  font-weight: bold;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}


.order-button{
  background-color: rgb(255, 216, 20);
  border-radius: 7px;
  font-size: 15px;
  border-color: #f1cb0a;
  border-style: solid;
  font-size: 15;
  cursor: pointer;
  transition: background-color 0.10s,
              border-color 0.10s;
  width: 1fr;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 9px;
  padding-bottom: 9px;
}