.header{
  height: 57px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  padding-right: 150px;
  padding-left: 200px;
  background-color: white;
}

.amazon-logo{
  height: 30px;
}

.middle-section{
  font-size: 25px;
}

.main{
  margin-top: 150px;
  margin-left: 200px;
  margin-right: 400px;
}

.cartItem-container{
  height: 300px;
  border: 1px solid rgb(169, 168, 168);
  border-radius: 5px;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 20px;
}

.delivery-date{
  font-size: 20px;
  margin-bottom: 20px;
  color: rgb(0,118,0);
  font-weight: bold;
}

.cartItem-grid{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  
}

.product-image{
  height: 100px;
}

.cartItem-name{
  font-weight: bold;
  margin-bottom: 10px;
}

.cartItem-price{
  color: rgb(177,39,4);
  font-weight: bold;
  margin-bottom: 5px;
}

.delivery-options{
  width : 250px;

}

.delivery-option-title{
  font-weight: bold;
}

.delivery-option-date{
  display: block;
  color: rgb(0,118,0);
}

.delivery-option-price{
  display: block;
}








.checkout{
  display: grid;
  grid-template-columns: 700px 350px;
  gap: 20px;
}


.js-order-summary{
  border: 1px solid rgb(169, 168, 168);
  height: 400px;

  
}